/*subscribe*/

.thanks {
    font-size: 24px;
    color: white;
    background-color: rgb(245, 83, 101);
    border: 1px solid rgb(162, 32, 42);
    border-radius: 4px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}